:root{
    --background-color: #1B252F;
    --accent-color: #087F8C;
    --accent2-color: #C2D3CD;
    --text-color: #fbfbfb;
    --contrast-color: #F3F316;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
}

#nav-bar {
    position: fixed;
    display: inline;
    z-index: 99;
    border: none;
    outline: none;
    width: 100vw;
    height: 8.25%;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
}

#nav-list {
    list-style-type: none;
    float: right;
  }

.nav-element {
    display: inline;
    float: left;
}

.nav-button {
  display: inline;
  color: var(--text-color);
}

.nav-button {
    color: var(--text-color);
    text-decoration: none;
    user-select: none;
    font-size: 20px;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-button {
    display: block;
    text-align: center;
    padding: 1.40vw 1.40vw;
    text-decoration: none;
}

#profiel-button {
    display: block;
    text-align: center;
    padding: 1.575vw 1.575vw;
    text-decoration: none;
    fill: #C2D3CD;
    transform: scale(2.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#profiel-button:hover {
    fill: #a4b2ad;
}

.nav-button:hover {
    color: #fbfbfbbc;
}

#logo {
    width:9%;
    border-radius: 15px;
    margin: 5px 0 0 5px;
    display: inline;
}
