/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b252f;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

#job-listings {
    margin: 2em auto;
    width: 90%;
    max-width: 1200px;
    
}

h2 {
    color: #f3f316;
    text-align: center;
}

#jobs {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job {
    background-color: #c2d3cd;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.job img {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensures the image fills the box while maintaining aspect ratio */
    border-radius: 5px 5px 0 0; /* Rounds the top corners of the image */
}

.job-content {
    padding: 1em 0;
}

.job h3 {
    margin: 0;
    font-size: 1.4em;
}

.job p {
    margin: 0.5em 0;
}

.job-description {
    display: none;
    color: #1b252f;
}

.toggle-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
}

.toggle-btn:hover {
    background-color: #45a049;
}

/* Media Queries for responsiveness */

/* For laptops and large screens */
@media (min-width: 1024px) {
    .job {
        width: 48%; /* Make the jobs fit two per row */
        align-content: center;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .job {
        width: 100%; /* Full width for tablets */
    }
}

/* For phones */
@media (max-width: 767px) {
    .job {
        width: 100%;
    }

    .toggle-btn {
        font-size: 0.9em;
        padding: 0.3em 0.7em;
    }

    h3 {
        font-size: 1.2em;
    }
}
